html,body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	 font-size: 100%;
}


.bg-y{
	background-color: #F1C40F;
	height: 900px;
}
.bg-g{
	background-color: #1B2631;
	height: 900px;
}
.bg-red{
	background-color: #E74C3C;
	height: 350px;
}
.bg-gw{
	background-color: #1B2631;
	height: 400px;
}
.bg-w{
	background-color: #CACFD2;
	height: 400px;
}
h1,h4,h2#w{
	color: #ffffff;

}

.hr-y{
	background-color: #F1C40F;
	color: #F1C40F;
}
.bg-ye{
	background-color: #E74C3C;
	
}

h1#w{
	color: #ffffff;
}
h4#w{
	color: #ffffff;
}
h6#w{
	color: #ffffff;
}
body {
	font-family: 'Anton', sans-serif;
}

h1, h2, h3, h4, i, h5, form, div, a, p, input, lable {
	font-family: 'Anton', sans-serif;
}
table.t {
    font-family: 'Anton', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td.t, th.t {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr.t:nth-child(even) {
    background-color: #dddddd;
}
.whitetxt{
	color: #ffffff;
	font-family: 'Anton', sans-serif;
	font-size: 62.5%;
}
.s1{
	width : 150px;
	 height :150px;
}
.s2{
	width : 120px;
	 height :120px;
}
.s3{
	width : 95px;
	 height :95px;
}
.s4{
	width : 85px;
	 height :85px;
}
.s5{
	width : 75px;
	 height :75px;
}
.s6{
	width : 60px;
	 height :60px;
}
.Profile{
	width : 250px;
	 height :250px;
}
img{ max-width:100%; border:none;} 
.pic{ float:left; width:31.2%; margin:0 1% 0 1%;}

