.bg-y{
	background-color: #F1C40F;
	height: 650px;
}
.bg-g{
	background-color: #1B2631;
	height: 650px;
}
.bg-red{
	background-color: #E74C3C;
	height: 350px;
}
.bg-gw{
	background-color: #1B2631;
	height: 400px;
}
.bg-w{
	background-color: #CACFD2;
	height: 400px;
}
h1#w{
	color: #ffffff;

}
h4#w{
	color: #ffffff;

}
.hr-y{
	background-color: #F1C40F;
	color: #F1C40F;
}
